#ya-ya-exetension-mount {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: visible;
    z-index: 8000;
}

/* mark[data-ya-ya-trigger-word] {
    background-color: red;
} */

mark[data-ya-ya-trigger-word],
mark[data-ya-ya-pending-word] {
    background-color: var(--mark-background-color);
    letter-spacing: 0.3rem;
    color: black;
    border-radius: 0.3em;
    padding-inline: 0.6rem;
    word-break: break-all;
}
mark[data-ya-ya-pending-word] {
    animation-name: pending-animation;
    animation-duration: var(--pending-animation-duration);
    animation-iteration-count: 1;
    animation-direction: normal;
    opacity: 0.9;
}

@keyframes pending-animation {
    from {
        letter-spacing: 1px;
        background-color: rgba(255, 255, 255, 0);
        padding-inline: 0;
    }
    to {
        letter-spacing: 0.3rem;
        background-color: var(--mark-background-color);
        padding-inline: 0.6rem;
    }
}
